/* External links */
a.external:after {
    content: url(/static/external-link.svg);
}
/* Fonts */
@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    /* src: local('Nunito ExtraLight Italic'), local('Nunito-ExtraLightItalic'), url("/fonts/Nunito-ExtraLightItalic.ttf) format('ttf'); "*/
    src: url("/fonts/Nunito-ExtraLightItalic.ttf");
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    /* src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'), url("/fonts/Nunito-ExtraLight.ttf) format('ttf'); "*/
    src: url("/fonts/Nunito-ExtraLight.ttf");
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    /* src: local('Nunito SemiBold Italic'), local('Nunito-SemiBoldItalic'), url("/fonts/Nunito-SemiBoldItalic.ttf) format('ttf'); "*/
    src: url("/fonts/Nunito-SemiBoldItalic.ttf");
}
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    /* src: local('Nunito SemiBold'), local('Nunito-SemiBold'), url("/fonts/Nunito-SemiBold.ttf) format('ttf'); "*/
    src: url("/fonts/Nunito-SemiBold.ttf");
}

/* Other */
html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

custom-tooltip{
    position:relative;
}
custom-tooltip:hover tooltip-content{
    visibility: visible;
}
custom-tooltip:before{
    content:"?";
    display:inline-flex;
    color:white;
    height:15px;
    width:15px;
    font-size:12px;
    line-height: -10px;
    justify-content: center;
    align-content: center;
    border-radius:50%;
    background-color:black;
    margin-left: 5px;
}
tooltip-content{
    visibility: hidden;
    position: absolute;
    bottom:0;
    width: 250px;
    font-family: 'Lato', sans-serif;
    font-size: .7em;
    padding: 8px;
    background-color: black;
    color: white;
}
.good-luck h3, .good-luck h4, .good-luck p{
    color:black;
    text-align: center;
}
cookie-nag{
    position: fixed;
    bottom:0;
    background:0;
    width:100%;
    color:white;
    background-color:black;
    text-align:center;
}
.closeButton{
    position:absolute;
    font-weight: bold;
    right:15px;
    top:0;
    color:black;
    background-color:white;
    width:15px;
    height:15px;
    border-radius: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.closeButton:before{
    content:"x";
}
